.game{
    display: flex;
    flex-direction: column;
    background: url('../public/img/bg-hero-5.jpg');
    background-size: cover;
    color: white;
    align-items: center;
    background-color: transparent;
    height: 80vh;

    .nav-container{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 30px;
            font-weight: bold;
            .text{
                cursor: pointer;
            }
            .dot{
                color: #1dbf73;
            }
        }
        .links{
            display: flex;
            gap: 24px;
            align-items: center;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            span{
                font-family: 'Montserrat',sans-serif;
            }
            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            position: relative;
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            .options{
                position: absolute;
                top: 50px;
                right: 0;
                padding: 20px;
                background-color: white;
                border: 1px solid lightgrey;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: gray;
                width: 200px;
                font-weight: 300;
                
            }
        }
    }
    .featured-container {
        width: 1000px;
        display: flex;
        align-items: center;
        .text-container{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
            height: 50%;
            h1 {
                font-size: 50px;

                span {
                    font-style: italic;
                    font-weight: 300;
                }
            }
            .search {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    input {
                        border: none;
                        outline: none;
                        width: 250px;

                        &::placeholder {
                            color: gray;
                        }
                    }
                }

                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    align-self: flex-end;
                    cursor: pointer;
                    border-radius: 10px;
                }

            }
            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    width: max-content;
                }

                button {
                    width: max-content;
                    color: white;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 14px;
                }
            }
        }
    }
}